In [2]:
import pandas as pd
from sklearn import tree

In [3]:
df = pd.read_csv('KvsT.csv')
x = df.loc[:, '体重':'年代']
t = df['派閥']
model = tree.DecisionTreeClassifier(max_depth = 1, random_state = 0)
model.fit(x,t)

data = [(65,20)]
print(model.predict(data))
model.predict_proba(data)

['きのこ']

array([[0.6, 0.4]])

In [4]:
from sklearn.model_selection import train_test_split

df = pd.read_csv('iris.csv')
df.head()

   がく片長さ  がく片幅  花弁長さ   花弁幅           種類
0   0.22  0.63  0.08  0.04  Iris-setosa
1   0.17  0.42  0.35  0.04  Iris-setosa
2   0.11  0.50  0.13  0.04  Iris-setosa
3   0.08  0.46  0.26  0.04  Iris-setosa
4   0.19  0.67  0.44  0.04  Iris-setosa

In [5]:
mean = df.mean()
train2 = df.fillna(mean)

x = train2.loc[:, :'花弁幅']
t = train2['種類']

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
new = sc.fit_transform(x)

In [6]:
x_train, x_test, y_train, y_test = train_test_split(new, t, test_size = 0.2, random_state = 0)

from sklearn.linear_model import LogisticRegression

model = LogisticRegression(random_state = 0, C = 0.1, multi_class = 'auto', solver = 'lbfgs')

In [7]:
model.fit(x_train, y_train)
print(model.score(x_train, y_train))
model.score(x_test, y_test)

0.8666666666666667

0.8333333333333334

In [8]:
model.coef_

array([[-0.53209541,  0.48584036, -0.52629135, -0.83192326],
       [ 0.09494378, -0.44720771, -0.00110969, -0.04413366],
       [ 0.43715163, -0.03863265,  0.52740105,  0.87605692]])

In [9]:
x_new = [[1,2,3,4]]

model.predict(x_new)

array(['Iris-virginica'], dtype=object)

In [10]:
model.predict_proba(x_new)

array([[4.03394997e-05, 3.02965489e-03, 9.96930006e-01]])

In [11]:
model.classes_

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
%matplotlib inline

In [13]:
df = pd.read_csv('Survived.csv')
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [14]:
jo1 = df['Pclass'] == 1
jo2 = df['Survived'] == 0
jo3 = df['Age'].isnull()
df.loc[(jo1) & (jo2) & (jo3), 'Age'] = 43

jo2= df['Survived'] == 1
df.loc[(jo1) & (jo2) & (jo3), 'Age'] = 35

jo1 = df['Pclass'] == 2
jo2 = df['Survived'] == 0
jo3 = df['Age'].isnull()
df.loc[(jo1) & (jo2) & (jo3), 'Age'] = 26

jo2 = df['Survived'] == 1
df.loc[(jo1) & (jo2) & (jo3), 'Age'] = 20

jo1 = df['Pclass'] == 3
jo2 = df['Survived'] == 0
jo3 = df['Age'].isnull()
df.loc[(jo1) & (jo2) & (jo3), 'Age'] = 43

jo2 = df['Survived'] == 1
df.loc[(jo1) & (jo2) & (jo3), 'Age'] = 35

In [15]:
col = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

x = df[col]
t = df['Survived']

dummy = pd.get_dummies(df['Sex'], drop_first = True)
x = pd.concat([x, dummy], axis = 1)
x

     Pclass   Age  SibSp  Parch     Fare  male
0         3  22.0      1      0   7.2500     1
1         1  38.0      1      0  71.2833     0
2         3  26.0      0      0   7.9250     0
3         1  35.0      1      0  53.1000     0
4         3  35.0      0      0   8.0500     1
..      ...   ...    ...    ...      ...   ...
886       2  27.0      0      0  13.0000     1
887       1  19.0      0      0  30.0000     0
888       3  43.0      1      2  23.4500     0
889       1  26.0      0      0  30.0000     1
890       3  32.0      0      0   7.7500     1

[891 rows x 6 columns]

In [16]:
from sklearn.ensemble import RandomForestClassifier
x_train, x_test, y_train, y_test = train_test_split(x, t, test_size = 0.2, random_state = 0)
model = RandomForestClassifier(n_estimators = 200, random_state = 0)

In [17]:
model.fit(x_train, y_train)

print(model.score(x_train, y_train))
print(model.score(x_test, y_test))

0.9887640449438202
0.8715083798882681

In [18]:
from sklearn import tree

model2 = tree.DecisionTreeClassifier(random_state = 0)
model2.fit(x_train, y_train)

print(model2.score(x_train, y_train))
print(model2.score(x_test, y_test))

0.9887640449438202
0.8156424581005587

In [19]:
from sklearn.ensemble import AdaBoostClassifier

from sklearn.tree import DecisionTreeClassifier

x_train, x_test, y_train, y_test = train_test_split(x, t, test_size = 0.2, random_state = 0)

base_model = DecisionTreeClassifier(random_state= 0, max_depth = 5)

model = AdaBoostClassifier(n_estimators = 500, random_state = 0, base_estimator = base_model)
model.fit(x_train, y_train)

print(model.score(x_train, y_train))
print(model.score(x_test, y_test))

0.9887640449438202
0.8603351955307262

In [20]:
df = pd.read_csv('cinema.csv')
df = df.fillna(df.mean())
x = df.loc[:, 'SNS1':'original']
t = df['sales']
x_train, x_test, y_train, y_test = train_test_split(x, t, test_size = 0.2, random_state = 0)

from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state = 0, n_estimators = 100)
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.5563347234627347

In [21]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor

base = DecisionTreeRegressor(random_state = 0, max_depth = 3)

model = AdaBoostRegressor(random_state = 0, n_estimators = 100, base_estimator = base)

model.fit(x_train, y_train)
model.score(x_test, y_test)

0.6748482902800903

In [29]:
df = pd.read_csv('cinema.csv')
df.sample(n = 3, random_state = 2)

    cinema_id   SNS1  SNS2         actor  original  sales
83       1917  333.0   653  10742.088540         1  11071
30       1855  149.0  1200   8173.096892         0   8000
56       1209   50.0   177   9029.442218         0   9039