In [1]:
import pandas as pd

In [14]:
sample = pd.read_csv("KvsT.csv")
sample.head()

    身長  体重  年代    派閥
0  170  60  10   きのこ
1  172  65  20   きのこ
2  170  60  30  たけのこ
3  170  65  40   きのこ
4  177  65  10  たけのこ

In [8]:
data = {
    '松田の労働時間' :[160, 160],
    '浅木の労働時間' :[161, 179],
}
df = pd.DataFrame(data)
df

   松田の労働時間  浅木の労働時間
0      160      161
1      160      179

In [11]:
print(type(df))
df.shape

<class 'pandas.core.frame.DataFrame'>

(2, 2)

In [15]:
sample["身長"]

0     170
1     172
2     170
3     170
4     177
5     168
6     169
7     170
8     180
9     170
10    165
11    170
12    175
13    170
14    170
15    155
16    160
17    170
18    175
Name: 身長, dtype: int64

In [18]:
xcol =["身長","体重","年代"]
x = sample[xcol]
x

     身長  体重  年代
0   170  60  10
1   172  65  20
2   170  60  30
3   170  65  40
4   177  65  10
5   168  55  20
6   169  65  30
7   170  62  40
8   180  70  10
9   170  68  20
10  165  65  40
11  170  72  20
12  175  77  40
13  170  65  30
14  170  65  30
15  155  56  20
16  160  56  20
17  170  65  40
18  175  60  20

In [19]:
t = sample["派閥"]
t

0      きのこ
1      きのこ
2     たけのこ
3      きのこ
4     たけのこ
5      きのこ
6     たけのこ
7     たけのこ
8     たけのこ
9      きのこ
10    たけのこ
11     きのこ
12    たけのこ
13    たけのこ
14    たけのこ
15     きのこ
16    たけのこ
17     きのこ
18    たけのこ
Name: 派閥, dtype: object

In [20]:
from sklearn import tree

In [21]:
model = tree.DecisionTreeClassifier(random_state = 0)

model.fit(x, t)

DecisionTreeClassifier(random_state=0)

In [23]:
taro = [[300, 70, 20]]

model.predict(taro)

array(['たけのこ'], dtype=object)

In [24]:
model.score(x, t)

1.0

In [25]:
import pickle

with open('KinokoTakenoko.pkl', 'wb') as f:
    pickle.dump(model, f)

In [28]:
with open('KinokoTakenoko.pkl', 'rb') as f:
    model2 = pickle.load(f)

model2.score(x, t9

In [30]:
suzuki = [[189, 75, 30]]
model2.predict(suzuki)

array(['たけのこ'], dtype=object)

In [32]:
model2.score(x,t)

1.0

In [33]:
df = pd.read_csv('ex1.csv')

In [34]:
df

          x0        x1        x2        x3  target
0   4.831144  4.695477  5.082239  4.501977       0
1   1.460716  1.216714  7.632439  2.359443       0
2   4.011018  4.515939  5.935904  5.981296       1
3   5.982382  4.965863  3.890340  2.480491       0
4   5.439188  5.911560  4.827872  6.653825       1
..       ...       ...       ...       ...     ...
95  4.343917  5.549315  5.925124  8.262054       1
96  5.612101  5.065338  4.338867  3.689948       0
97  3.375022  4.196423  6.534891  6.587676       1
98  4.069721  4.556587  5.884516  5.958792       1
99  4.079704  3.939691  5.657731  4.083713       0

[100 rows x 5 columns]

In [35]:
df.columns

Index(['x0', 'x1', 'x2', 'x3', 'target'], dtype='object')

In [45]:
df.describe()

               x0          x1          x2          x3      target
count  100.000000  100.000000  100.000000  100.000000  100.000000
mean     4.955836    4.994039    5.047265    5.090781    0.480000
std      1.520432    1.241994    1.314817    1.561127    0.502117
min      0.320782    1.216714    1.691293    1.387054    0.000000
25%      4.105478    4.273762    4.063963    4.068122    0.000000
50%      4.889341    4.966295    5.075909    5.078837    0.000000
75%      6.056671    5.948204    5.827681    5.955071    1.000000
max      8.644794    7.215791    9.361250    9.069262    1.000000

In [46]:
df["target"].loc[df['target']==1].sum()

48

In [47]:
df2 = df[["x1","x3"]]
df2.head()

         x1        x3
0  4.695477  4.501977
1  1.216714  2.359443
2  4.515939  5.981296
3  4.965863  2.480491
4  5.911560  6.653825